# Работа со строковыми значениями

## Задачи для совместного разбора

1. Вывести на экран данные из словаря `obj` построчно в виде `k = v`, задав формат таким образом, чтобы знак равенства оказался на одной и той же позиции во всех строках. Строковые литералы обернуть в кавычки.

In [1]:
obj = {
    "home_page": "https://github.com/pypa/sampleproject",
    "keywords": "sample setuptools development",
	"license": "MIT",
}

for k, v in obj.items():
	print(k, '\t= ', v)

home_page 	=  https://github.com/pypa/sampleproject
keywords 	=  sample setuptools development
license 	=  MIT

2. Написать регулярное выражение,которое позволит найти номера групп студентов.

In [2]:
import re
import pandas as pd

obj = pd.Series(["Евгения гр.ПМ19-1", "Илья пм 20-4", "Анна 20-3"])
print([re.findall(r'[0-9]{2}-[0-9]{1}', x) for x in obj])

[['19-1'], ['20-4'], ['20-3']]

3. Разбейте текст формулировки задачи 2 на слова.

In [3]:
text = '2. Написать регулярное выражение,которое позволит найти номера групп студентов.'
print(text.split())

['2.', 'Написать', 'регулярное', 'выражение,которое', 'позволит', 'найти', 'номера', 'групп', 'студентов.']

## Лабораторная работа 6

### Форматирование строк

1\. Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в виде `pd.DataFrame` `recipes` При помощи форматирования строк выведите информацию об id рецепта и времени выполнения 5 случайных рецептов в виде таблицы следующего вида:

    
    |      id      |  minutes  |
    |--------------------------|
    |    61178     |    65     |
    |    202352    |    80     |
    |    364322    |    150    |
    |    26177     |    20     |
    |    224785    |    35     |
    
Обратите внимание, что ширина столбцов заранее неизвестна и должна рассчитываться динамически, в зависимости от тех данных, которые были выбраны.

In [4]:
import pandas as pd
recipes = pd.read_csv('data/recipes_sample.csv')
rec_sample = recipes[['id', 'minutes']].sample(n=5)
rec_sample

           id  minutes
1206   438362       40
26400   82335       25
6896    76215        5
15202  201216       80
10281  144531       15

In [7]:
def justify(text, width):
	excess = width - len(text)
	if excess % 2:
		if len(text) % 2:
			return (excess // 2) * " " + text + (excess // 2 + 1) * " "
		else:
			return (excess // 2 + 1) * " " + text + (excess // 2) * " "
	else:
		return (excess // 2) * " " + text + (excess // 2) * " "

merged = [[rec_sample['id'][x[0]] , rec_sample['minutes'][x[0]] ]for x in rec_sample['id'].items()]

In [8]:
idcol = max([len(x) for x in rec_sample['id'].astype(str).tolist() + ['id'] ])
mincol = max([len(x) for x in rec_sample['minutes'].astype(str).tolist() + ['minutes'] ])
sizes = [idcol + 2, mincol + 2]
print('|', justify('id', sizes[0]), '|', justify('minutes', sizes[1]), '|')
strs = '|' + '-' * (sizes[0] + 2) + '|' + '-' * (sizes[1] + 2) + '|'
print(strs)
for i, j in merged:
	print('|', justify(str(i), sizes[0]), '|', justify(str(j), sizes[1]), '|')

|    id    |  minutes  |
|----------|-----------|
|  438362  |     40    |
|  82335   |     25    |
|  76215   |     5     |
|  201216  |     80    |
|  144531  |     15    |

2\. Напишите функцию `show_info`, которая по данным о рецепте создает строку (в смысле объекта python) с описанием следующего вида:

```
"Название Из Нескольких Слов"

1. Шаг 1
2. Шаг 2
----------
Автор: contributor_id
Среднее время приготовления: minutes минут
```

    
Данные для создания строки получите из файлов `recipes_sample.csv` (__ЛР2__) и `steps_sample.xml` (__ЛР3__). 
Вызовите данную функцию для рецепта с id `170895` и выведите (через `print`) полученную строку на экран.

In [ ]:
from bs4 import BeautifulSoup 

with open('data/steps_sample.xml', 'r') as f:
    data = f.read() 

bs_data = BeautifulSoup(data, 'xml') 

recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [ ]:
def get_rec_attr(id, xml_only=False):
	info = []
	try:
		rec = recipes[recipes.id == id]
		info.append(rec.name[0])
	except:
		pass
	# print(rec)
	for x in bs_data.find_all('id'):
		if (x.text == str(id)):
			steps = [st.text for st in x.findNext('steps').findAll('step')]
			if xml_only : return steps
			info.append(steps)
			break
		
	try:
		info.append(rec.minutes[0]) 
		info.append(rec.contributor_id[0])
	except:
		pass
	return info
	

print(get_rec_attr(44123))

['george s at the cove  black bean soup', ['in 1 / 4 cup butter , saute carrots , onion , celery and broccoli stems for 5 minutes', 'add thyme , oregano and basil', 'saute 5 minutes more', 'add wine and deglaze pan', 'add hot chicken stock and reduce by one-third', 'add worcestershire sauce , tabasco , smoked chicken , beans and broccoli florets', 'simmer 5 minutes', 'add cream , simmer 5 minutes more and season to taste', 'drop in remaining butter , piece by piece , stirring until melted and serve immediately', 'smoked chicken: on a covered grill , slightly smoke boneless chicken , cooking to medium rare', 'chef meskan uses applewood chips and does not allow the grill to become too hot'], 90, 35193]

In [ ]:
def show_info(name, steps, minutes, author_id):
    result = '"'
    result += ' '.join([x.capitalize() for x in name.split()]) + '"\n\n'
    for n_step in range(len(steps)):
        result += str(n_step + 1) + '. ' + steps[n_step].capitalize() + '\n'
    result += '----------\nАвтор: ' + str(author_id) + '\nСреднее время приготовления: '+str(minutes) + ' минут\n'
    print(result)
    return result

assert (
    show_info(
        name="george s at the cove black bean soup",
        steps=[
            "clean the leeks and discard the dark green portions",
            "cut the leeks lengthwise then into one-inch pieces",
            "melt the butter in a medium skillet , med",
        ],
        minutes=90,
        author_id=35193,
    )
    == '"George S At The Cove Black Bean Soup"\n\n1. Clean the leeks and discard the dark green portions\n2. Cut the leeks lengthwise then into one-inch pieces\n3. Melt the butter in a medium skillet , med\n----------\nАвтор: 35193\nСреднее время приготовления: 90 минут\n'
)

"George S At The Cove Black Bean Soup"

1. Clean the leeks and discard the dark green portions
2. Cut the leeks lengthwise then into one-inch pieces
3. Melt the butter in a medium skillet , med
----------
Автор: 35193
Среднее время приготовления: 90 минут

In [ ]:
show_info(*get_rec_attr(44123))

"George S At The Cove Black Bean Soup"

1. In 1 / 4 cup butter , saute carrots , onion , celery and broccoli stems for 5 minutes
2. Add thyme , oregano and basil
3. Saute 5 minutes more
4. Add wine and deglaze pan
5. Add hot chicken stock and reduce by one-third
6. Add worcestershire sauce , tabasco , smoked chicken , beans and broccoli florets
7. Simmer 5 minutes
8. Add cream , simmer 5 minutes more and season to taste
9. Drop in remaining butter , piece by piece , stirring until melted and serve immediately
10. Smoked chicken: on a covered grill , slightly smoke boneless chicken , cooking to medium rare
11. Chef meskan uses applewood chips and does not allow the grill to become too hot
----------
Автор: 35193
Среднее время приготовления: 90 минут

'"George S At The Cove Black Bean Soup"\n\n1. In 1 / 4 cup butter , saute carrots , onion , celery and broccoli stems for 5 minutes\n2. Add thyme , oregano and basil\n3. Saute 5 minutes more\n4. Add wine and deglaze pan\n5. Add hot chicken stock and reduce by one-third\n6. Add worcestershire sauce , tabasco , smoked chicken , beans and broccoli florets\n7. Simmer 5 minutes\n8. Add cream , simmer 5 minutes more and season to taste\n9. Drop in remaining butter , piece by piece , stirring until melted and serve immediately\n10. Smoked chicken: on a covered grill , slightly smoke boneless chicken , cooking to medium rare\n11. Chef meskan uses applewood chips and does not allow the grill to become too hot\n----------\nАвтор: 35193\nСреднее время приготовления: 90 минут\n'

## Работа с регулярными выражениями

3\. Напишите регулярное выражение, которое ищет следующий паттерн в строке: число (1 цифра или более), затем пробел, затем слова: hour или hours или minute или minutes. Произведите поиск по данному регулярному выражению в каждом шаге рецепта с id 25082. Выведите на экран все непустые результаты, найденные по данному шаблону.

In [ ]:
import re
print(list(filter(None, [step if re.findall(r'[0-9]+ (hour|minute)[s]?', step) else None for step in get_rec_attr(25082, xml_only=True)])))

['turn out onto a lightly floured board and knead for about 20 minutes , adding flour as nescessary to keep the dough from sticking to the board', 'when it has been sufficiently kneaded , cover it with a damp cloth for about 10 minutes and wash and grease the bowl lightly', 'let the dough rise until it springs back when you stick your finger in it , and it is about twice the size as it was before (this takes about 2 hours', 'when the dough has risen twice , deflate it again and cover it with the damp cloth again for about 10 minutes , then divide it into and shape it into loaves , buns , etc', 'bake at 400 for 20 minutes , and then turn the oven down to 350 and bake for 20-30 minutes longer , until the loaf is a lovely brown and sounds hollow when you thump it on the bottom']

4\. Напишите регулярное выражение, которое ищет шаблон вида "this..., but" _в начале строки_ . Между словом "this" и частью ", but" может находиться произвольное число букв, цифр, знаков подчеркивания и пробелов. Никаких других символов вместо многоточия быть не может. Пробел между запятой и словом "but" может присутствовать или отсутствовать.

Используя строковые методы `pd.Series`, выясните, для каких рецептов данный шаблон содержится в тексте описания. Выведите на экран количество таких рецептов и 3 примера подходящих описаний (текст описания должен быть виден на экране полностью).

In [ ]:
this_but = recipes[recipes.description.str.match(r'^this[a-zA-Z0-9_\s]+[,]?but')==True].description
print(len(this_but))
for x in this_but.sample(n=3):
	print('----------------------------\n')
	print(x)

144
----------------------------

this makes a great deal of sauce but it freezes very well and can be used in any way you would use a red sauce. the italian ham makes all the difference in the taste. also, for those who have made sauce and it has been
----------------------------

this is soft and yummy like the bread you buy from the store but without the preservative.  got this recipe from http://myrecipe.org
----------------------------

this moist cornbread begs for butter when you take it out of the oven and it's even better the next day so you can prepare it a day ahead wrap in plastic and serve the following day,  if you don't care for nutmeg then omit, if you like a sweeter taste then increase the sugar slightly --- serve this along side of your turkey or ham dinner :)

5\. В текстах шагов рецептов обыкновенные дроби имеют вид "a / b". Используя регулярные выражения, уберите в тексте шагов рецепта с id 72367 пробелы до и после символа дроби. Выведите на экран шаги этого рецепта после их изменения.

In [ ]:
[print(re.sub(r' \/ ', '/', step)) for step in get_rec_attr(72367, xml_only=True)]

mix butter , flour , 1/3 c
sugar and 1-1/4 t
vanilla
press into greased 9" springform pan
mix cream cheese , 1/4 c
sugar , eggs and 1/2 t
vanilla beating until fluffy
pour over dough
combine apples , 1/3 c
sugar and cinnamon
arrange on top of cream cheese mixture and sprinkle with almonds
bake at 350 for 45-55 minutes , or until tester comes out clean

[None, None, None, None, None, None, None, None, None, None, None, None]

### Сегментация текста

6\. Разбейте тексты шагов рецептов на слова при помощи пакета `nltk`. Посчитайте и выведите на экран кол-во уникальных слов среди всех рецептов. Словом называется любая последовательность алфавитных символов (для проверки можно воспользоваться `str.isalpha`). При подсчете количества уникальных слов не учитывайте регистр.

In [ ]:
from nltk import pos_tag, word_tokenize
from nltk.probability import FreqDist

pos_tag(word_tokenize('sdfsdfsfsd'))
step = pd.read_xml('data/steps_sample.xml', xpath='//step')
a = step.step.str.lower()
print(str(a))

0         in 1 / 4 cup butter , saute carrots , onion , ...
1                             add thyme , oregano and basil
2                                      saute 5 minutes more
3                                  add wine and deglaze pan
4             add hot chicken stock and reduce by one-third
                                ...
292403        place 3 inches apart on greased baking sheets
292404    bake at 400f for 6-8 minutes or til just brown...
292405    remove from the oven and smear the top of each...
292406    frostings may be tinted with few drops food co...
292407    let cookies cool on baking sheet 10 minutes be...
Name: step, Length: 292408, dtype: object

In [ ]:
word_list = []
for i in a:
	[word_list.append(x) if x.isalpha() else None for x in i.split()]

In [ ]:
words = nltk.tokenize.word_tokenize(' '.join(word_list))
word_dist = nltk.FreqDist(words)
print(word_dist)
rslt = pd.DataFrame(word_dist.most_common(10),
                    columns=['Word', 'Frequency'])
rslt

<FreqDist with 14666 samples and 2722158 outcomes>

      Word  Frequency
0      and     146853
1      the     137994
2       in      77295
3        a      75285
4       to      74830
5     with      49722
6    until      44670
7      add      40813
8  minutes      37859
9       of      37365

7\. Разбейте описания рецептов из `recipes` на предложения при помощи пакета `nltk`. Найдите 5 самых длинных описаний (по количеству _предложений_) рецептов в датасете и выведите строки фрейма, соответствующие этим рецептами, в порядке убывания длины.

In [ ]:

recipes['n_sentence'] = [len(nltk.sent_tokenize(str(x))) for x in recipes.description.tolist()]
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,n_sentence
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,4
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,3
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,1
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,4
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,6
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,8
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,4
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,5
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,5
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,2

In [ ]:
recipes.loc[recipes['n_sentence'].sort_values(ascending=False)[:5].index]

C:\Users\tomas\AppData\Local\Temp\ipykernel_1868\3972202511.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  recipes.loc[recipes['n_sentence'].sort_values(ascending=False)[:5].index]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,n_sentence
18408,my favorite buttercream icing for decorating,334113,30,681465,2008-10-30,12.0,this wonderful icing is used for icing cakes a...,NaN,76
481,alligator claws avocado fritters with chipot...,287008,45,765354,2008-02-19,NaN,a translucent golden-brown crust allows the gr...,9.0,27
22566,rich barley mushroom soup,328708,60,221776,2008-10-03,NaN,this is one of the best soups i've ever made a...,10.0,24
6779,chocolate tea,205348,6,428824,2007-01-14,NaN,i wrote this because there are an astounding l...,NaN,23
16296,little bunny foo foo cake carrot cake with c...,316000,68,689540,2008-07-27,14.0,the first time i made this cake i grated a mil...,NaN,23

8\. Напишите функцию, которая для заданного предложения выводит информацию о частях речи слов, входящих в предложение, в следующем виде:
```
PRP   VBD   DT      NNS     CC   VBD      NNS        RB   
 I  omitted the raspberries and added strawberries instead
``` 
Для определения части речи слова можно воспользоваться `nltk.pos_tag`.

Проверьте работоспособность функции на названии рецепта с id 241106.

Обратите внимание, что часть речи должна находиться ровно посередине над соотвествующим словом, а между самими словами должен быть ровно один пробел.

In [ ]:
from nltk import pos_tag, word_tokenize
name = recipes[recipes.id == 241106].name.tolist()[0]

sent = ''
tags = ''
for word, tag in pos_tag(word_tokenize(name)):
	maxwidth = max(len(word), len(tag))
	tags += justify(tag, maxwidth) + ' '
	sent += justify(word, maxwidth) + ' '
print(tags)
print(sent)

   JJ     NNS    IN     NNS    VBP    JJ    CC   JJ   NNS
eggplant steaks with chickpeas feta cheese and black olives