## Оптимизация выполнения кода, векторизация, Numba

Материалы:
* Макрушин С.В. Лекция 3: Оптимизация выполнения кода, векторизация, Numba
* IPython Cookbook, Second Edition (2018), глава 4
* https://numba.pydata.org/numba-doc/latest/user/5minguide.html

## Задачи для совместного разбора

1. Сгенерируйте массив `A` из `N=1млн` случайных целых чисел на отрезке от 0 до 1000. Пусть `B[i] = A[i] + 100`. Посчитайте среднее значение массива `B`.

In [1]:
import random
import pandas as pd
import numpy as np

In [2]:
A = [random.randrange(0, 1000) for _ in range(1000)]

B = [x+100 for x in A]

print(sum(B)/len(B))

606.331

2. Создайте таблицу 2млн строк и с 4 столбцами, заполненными случайными числами. Добавьте столбец `key`, которые содержит элементы из множества английских букв. Выберите из таблицы подмножество строк, для которых в столбце `key` указаны первые 5 английских букв.

In [3]:
from pandas._testing import rands_array

dftable = pd.DataFrame(np.random.randint(0,100,size=(2_000_000, 4)), columns=list('ABCD'))
dftable['key'] = rands_array(10, 2_000_000)
engelsk = dftable[dftable.key.str.startswith('ABCDI')]
engelsk

Empty DataFrame
Columns: [A, B, C, D, key]
Index: []

## Лабораторная работа 3

In [4]:
import line_profiler

1. В файлах `recipes_sample.csv` и `reviews_sample.csv` (__ЛР 2__) находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами. Приведите столбцы к нужным типам.

Реализуйте несколько вариантов функции подсчета среднего значения столбца `rating` из таблицы `reviews` для отзывов, оставленных в 2010 году.

A. С использованием метода `DataFrame.iterrows` исходной таблицы;

Б. С использованием метода `DataFrame.iterrows` таблицы, в которой сохранены только отзывы за 2010 год;

В. С использованием метода `Series.mean`.

Проверьте, что результаты работы всех написанных функций корректны и совпадают. Измерьте выполнения всех написанных функций.

In [5]:
recipes = pd.read_csv('data/recipes_sample.csv', dtype={'n_steps': 'Int32', 'n_ingredients': 'Int32'})  
reviews = pd.read_csv('data/reviews_sample.csv')
reviews.info()
recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126696 entries, 0 to 126695
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  126696 non-null  int64
 1   user_id     126696 non-null  int64
 2   recipe_id   126696 non-null  int64
 3   date        126696 non-null  object
 4   rating      126696 non-null  int64
 5   review      126679 non-null  object
dtypes: int64(4), object(2)
memory usage: 5.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  object
 5   n_steps         18810 non-null  Int32
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  Int32
dtypes: Int32(2), int64(3), object(3)
memory usage: 1.7+ MB

In [6]:
reviews.date = pd.to_datetime(reviews.date)
reviews.rename( columns={'Unnamed: 0':'id'}, inplace=True )
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126696 entries, 0 to 126695
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         126696 non-null  int64
 1   user_id    126696 non-null  int64
 2   recipe_id  126696 non-null  int64
 3   date       126696 non-null  datetime64[ns]
 4   rating     126696 non-null  int64
 5   review     126679 non-null  object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 5.8+ MB

In [7]:
ratings = [val.rating for _, val in reviews[reviews.date.dt.year == 2010].iterrows()]
# for indx, val in reviews[reviews.date.dt.year == 2010].iterrows():
# 	print('indx: ', indx,'val: ',  val)
sum(ratings)/len(ratings)

4.4544402182900615

In [8]:
import time

def Aitter():
	ratings = [val.rating for _, val in reviews[reviews.date.dt.year == 2010].iterrows()]
	return sum(ratings)/len(ratings)

def Bitter():
	global filtered_table
	ratings = [val.rating for _, val in filtered_table.iterrows()]
	return sum(ratings)/len(ratings)

def Cseries_mean():
	return reviews[reviews.date.dt.year == 2010].rating.mean()

st = time.time()
res = Aitter()
et = time.time()
print('A: itterrows for whole table\n\n\tres: ', res, '\n\ttime:', et - st )


filtered_table = reviews[reviews.date.dt.year == 2010]

st = time.time()
res = Bitter()
et = time.time()
print('\n\nB: itterrows for filttered table\n\n\tres: ', res, '\n\ttime:', et - st )

st = time.time()
res = Cseries_mean()
et = time.time()
print('\n\nC: Series.mean\n\n\tres: ', res, '\n\ttime:', et - st )

A: itterrows for whole table

	res:  4.4544402182900615
	time: 0.6279904842376709


B: itterrows for filttered table

	res:  4.4544402182900615
	time: 0.5489821434020996


C: Series.mean

	res:  4.4544402182900615
	time: 0.012997627258300781

2. Какая из созданных функций выполняется медленнее? Что наиболее сильно влияет на скорость выполнения? Для ответа использовать профайлер `line_profiler`. Сохраните результаты работы профайлера в отдельную текстовую ячейку и прокомментируйте результаты его работы.

(*). Сможете ли вы ускорить работу функции 1Б, отказавшись от использования метода `iterrows`, но не используя метод `mean`?

In [9]:
%load_ext line_profiler
%lprun -f Aitter Aitter()

Timer unit: 1e-07 s

Total time: 2.71745 s
File: C:\Users\tomas\AppData\Local\Temp\ipykernel_17544\3975581674.py
Function: Aitter at line 3

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     3                                           def Aitter():
     4         1   27173289.0 27173289.0    100.0  	ratings = [val.rating for _, val in reviews[reviews.date.dt.year == 2010].iterrows()]
     5         1       1231.0   1231.0      0.0  	return sum(ratings)/len(ratings)

In [10]:
%lprun -f Bitter Bitter()

Timer unit: 1e-07 s

Total time: 2.91548 s
File: C:\Users\tomas\AppData\Local\Temp\ipykernel_17544\3975581674.py
Function: Bitter at line 7

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     7                                           def Bitter():
     8                                           	global filtered_table
     9         1   29152964.0 29152964.0    100.0  	ratings = [val.rating for _, val in filtered_table.iterrows()]
    10         1       1808.0   1808.0      0.0  	return sum(ratings)/len(ratings)

In [11]:
%lprun -f Cseries_mean Cseries_mean()

Timer unit: 1e-07 s

Total time: 0.0168723 s
File: C:\Users\tomas\AppData\Local\Temp\ipykernel_17544\3975581674.py
Function: Cseries_mean at line 12

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
    12                                           def Cseries_mean():
    13         1     168723.0 168723.0    100.0  	return reviews[reviews.date.dt.year == 2010].rating.mean()

In [12]:
def Bitter_improved():
	global filtered_table
	return filtered_table.rating.sum()/len(filtered_table)

Bitter_improved()

4.4544402182900615

In [13]:
%lprun -f Bitter_improved Bitter_improved()

Timer unit: 1e-07 s

Total time: 0.0006938 s
File: C:\Users\tomas\AppData\Local\Temp\ipykernel_17544\4008495202.py
Function: Bitter_improved at line 1

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     1                                           def Bitter_improved():
     2                                           	global filtered_table
     3         1       6938.0   6938.0    100.0  	return filtered_table.rating.sum()/len(filtered_table)

3. Вам предлагается воспользоваться функцией, которая собирает статистику о том, сколько отзывов содержат то или иное слово. Измерьте время выполнения этой функции. Сможете ли вы найти узкие места в коде, используя профайлер? Выпишите (словами), что в имеющемся коде реализовано неоптимально. Оптимизируйте функцию и добейтесь значительного (как минимум, на один порядок) прироста в скорости выполнения.

In [14]:
def get_word_reviews_count(df):
    word_reviews = {}
    for _, row in df.dropna(subset=['review']).iterrows():          # цикл for не оптимален, может быть заменен генератором
        recipe_id, review = row['recipe_id'], row['review']         # .iterrows так же является неоптимальным, для подсчета 
        words = review.split(' ')                                   # слов из одной колонки можно обращаться к ней напрямую
        for word in words:
            if word not in word_reviews:
                word_reviews[word] = []
            word_reviews[word].append(recipe_id)
    
    word_reviews_count = {}
    for _, row in df.dropna(subset=['review']).iterrows():
        review = row['review']
        words = review.split(' ')
        for word in words:
            word_reviews_count[word] = len(word_reviews[word])
    return word_reviews_count

In [15]:
get_word_reviews_count(reviews)

{'Last': 94,
 'week': 804,
 'whole': 5628,
 'sides': 312,
 'of': 109029,
 'frozen': 2647,
 'salmon': 729,
 'fillet': 60,
 'was': 88781,
 'on': 34583,
 'sale': 149,
 'in': 61539,
 'my': 44144,
 'local': 561,
 'supermarket,': 10,
 'so': 46090,
 'I': 285147,
 'bought': 1369,
 'tons': 161,
 '(okay,': 5,
 'only': 13965,
 '3,': 48,
 'but': 42513,
 'total': 381,
 'weight': 160,
 'over': 9065,
 '10': 2303,
 'pounds).': 2,
 '': 214145,
 'This': 39448,
 'recipe': 41098,
 'is': 55075,
 'perfect': 4398,
 'for': 121224,
 'fillet,': 14,
 'even': 7878,
 'though': 2314,
 'it': 111175,
 'calls': 520,
 'steaks.': 93,
 'cut': 6688,
 'up': 13585,
 'the': 266050,
 'into': 7031,
 'individual': 314,
 'portions': 156,
 'and': 217849,
 'followed': 4859,
 'instructions': 731,
 'exactly.': 571,
 "I'm": 7145,
 'one': 15086,
 'those': 2287,
 'food': 2413,
 'combining': 74,
 'diets,': 5,
 'left': 4690,
 'out': 23644,
 'white': 3425,
 'wine': 1256,
 'added': 21710,
 'just': 24944,
 'a': 166136,
 'dash': 532,
 'vinegar': 1272,
 'instead': 10395,
 '(just': 273,
 'little': 16319,
 'bit,': 316,
 'not': 22907,
 'enough': 4440,
 'to': 131471,
 'change': 4146,
 'taste': 8026,
 'dish).': 20,
 'Super': 840,
 'yummy,': 366,
 'leftovers': 1497,
 'lunch': 1593,
 'today': 1034,
 '(lucky': 3,
 'me)!': 5,
 'So': 4319,
 'simple': 3947,
 'tasty!': 994,
 'used': 44849,
 'yellow': 782,
 'capsicum': 45,
 'place': 2012,
 'green': 4470,
 'because': 11390,
 "that's": 1563,
 'what': 7462,
 'had': 26362,
 'hand.': 1416,
 'came': 5263,
 'together': 3268,
 'fast.': 178,
 'Perfect': 755,
 'meal': 1891,
 'if': 7326,
 'you': 24475,
 "don't": 6183,
 'have': 35190,
 'lot': 3186,
 'time.': 4010,
 'Easy,': 288,
 'healthy': 1282,
 'tasty.': 1986,
 'Thanks': 26556,
 'Stardustannie!': 4,
 'Made': 12801,
 'PAC': 1488,
 'Fall': 737,
 '2007.': 85,
 'Very': 8691,
 'nice': 8168,
 'breakfast': 1398,
 'HH,': 1,
 'easy': 17222,
 'make': 32124,
 'yummy': 2111,
 'with': 58374,
 'fresh': 7670,
 'hot': 3578,
 'coffe.': 2,
 'Instead': 860,
 'toast': 449,
 'served': 6449,
 '#97694': 1,
 'by': 6592,
 'Paula': 121,
 'G': 13,
 'that': 36984,
 'made': 38087,
 'earlier': 167,
 'turned': 6368,
 'great.': 3686,
 'will': 23985,
 'be': 25032,
 'regular': 2988,
 'our': 6879,
 'house': 1246,
 '-': 12000,
 'DH': 3796,
 'loved': 13755,
 'them.': 3663,
 'These': 8371,
 'are': 15518,
 'favorite': 2587,
 'holidays': 123,
 'children': 356,
 'We': 12585,
 'also': 14466,
 'use': 16905,
 'Rolo': 6,
 'candies': 59,
 'kisses.': 14,
 'Excellent': 1550,
 'soup!': 456,
 'The': 25720,
 'tomato': 2136,
 'flavor': 7690,
 'this': 87057,
 'freezer': 874,
 'tag': 808,
 'soup': 4437,
 'froze': 645,
 'beautifully.': 305,
 'prepared': 935,
 'as': 35493,
 'directed': 720,
 'then': 8440,
 'allowed': 225,
 'cool': 953,
 'container.': 46,
 'thawed': 211,
 'fridge': 922,
 'reheated': 222,
 'stovetop.': 38,
 'Worked': 251,
 'perfectly!': 158,
 'forgot': 1290,
 'add': 12987,
 'skim': 409,
 'milk': 3759,
 'still': 6693,
 'tasted': 4119,
 'pretty': 3499,
 'good!': 3887,
 'Dancer!': 17,
 'dinner': 3882,
 'excellent,': 186,
 'finally': 513,
 'found': 5067,
 'tuna': 488,
 'casserole': 798,
 'we': 12841,
 'enjoy,': 11,
 'thanks.': 123,
 'When': 1630,
 'snapped': 9,
 'picture,': 61,
 'review': 1142,
 'recipe.': 14337,
 'toasted': 775,
 'pecans': 624,
 'dish,': 801,
 'at': 15362,
 'party': 1243,
 'Prime': 23,
 'Rib.': 4,
 'Ten': 16,
 'stars': 2070,
 'Lennie': 29,
 '!!': 334,
 'good': 16106,
 'combination': 1801,
 'flavors': 2212,
 'reduce': 910,
 'rice': 3664,
 'cilantro': 731,
 'next': 10082,
 'time,': 2236,
 'thanks': 3197,
 'sharing': 6196,
 'hon!...Kitten': 9,
 'Oh': 1335,
 'Bergy!': 61,
 'wonderful': 5681,
 'cakes': 433,
 'awesome.': 550,
 'Fast': 83,
 'put': 8578,
 'together.': 1445,
 'get': 6753,
 'fish': 1128,
 'where': 971,
 'live': 435,
 '(yuck).': 5,
 'am': 6191,
 'tired': 147,
 'trying': 1847,
 'new': 2765,
 'recipes': 2819,
 'help': 761,
 'lack': 174,
 'quality.': 62,
 'But': 2588,
 'recipe,': 5129,
 'problem.': 194,
 'did': 17358,
 '3': 4472,
 'cloves': 897,
 'garlic,': 1029,
 'seasoned': 776,
 'bread': 5904,
 'crumbs': 801,
 'Smash': 3,
 'Seasoning(318441).': 1,
 'It': 19417,
 'has': 4861,
 'no': 5863,
 'salt!\r\nI': 1,
 'tartar': 77,
 'sauce': 11425,
 'go': 3691,
 '(56860).\r\nThank': 1,
 'great': 19166,
 'recipe!': 8487,
 'very': 25681,
 'moist': 2457,
 'cornbread,': 47,
 'two': 4466,
 'days': 723,
 'later.': 237,
 'less': 3180,
 'sugar': 6608,
 'honey,': 203,
 'farm': 56,
 'butter...and': 3,
 'corn,': 222,
 'about': 12811,
 '2': 8237,
 'ears.': 5,
 'Served': 1974,
 'ribs': 1203,
 'grill,': 124,
 "I've": 5561,
 'been': 5786,
 'making': 11030,
 'past': 418,
 'several': 1714,
 'years.': 460,
 "It's": 2848,
 'always': 4167,
 'extremely': 598,
 'easy!': 923,
 'posting!': 2469,
 'generic': 30,
 'sweetened': 239,
 'condensed': 231,
 'works': 748,
 'well,': 782,
 'tastes': 2271,
 'costs': 17,
 '(I': 2369,
 'usually': 1911,
 'Wal-Mart': 3,
 'brand).': 9,
 'Exceptional': 7,
 'delicious': 5729,
 'make.': 3027,
 'really': 19400,
 'liked': 5537,
 'weekday': 69,
 'leftover': 1716,
 'rice.': 1105,
 'looking': 3050,
 'different': 3537,
 'ways': 353,
 'ground': 2468,
 'beef.': 346,
 'love': 9526,
 'sandwich!!': 10,
 'alot': 435,
 'sooo': 594,
 'Lite': 22,
 'brown': 3475,
 'mustard': 1082,
 'horse': 4,
 'relish': 159,
 'some': 20753,
 'olives': 582,
 "on's.": 1,
 'Next': 3485,
 'time': 17502,
 'balsamic': 482,
 'dressing...it': 2,
 'mind.': 76,
 ':)': 5164,
 'cbreezie': 1,
 'make,': 1286,
 'affordable': 26,
 'addicting.': 29,
 'Our': 363,
 'household': 66,
 'it.': 11935,
 'Blessings': 7,
 'chef': 292,
 'sharing.': 2159,
 'never': 4979,
 'apple': 1442,
 'orange': 1633,
 'juice': 2765,
 'makes': 3300,
 'all': 15499,
 'difference': 673,
 'texture': 2318,
 'bread.': 1207,
 'wonderful!!\r\nThank': 2,
 'You': 2286,
 'were': 20716,
 'delicious!': 3344,
 'grated': 943,
 'bit': 9946,
 'cheddar': 1380,
 'cheese': 8218,
 'top': 4343,
 '5': 4283,
 'minutes': 5013,
 'before': 6918,
 'they': 16863,
 'done,': 239,
 'seasoning': 2026,
 'perfect.': 2023,
 'best': 4551,
 'pizza': 955,
 'dough': 2740,
 'made!': 190,
 'Other': 574,
 'tried': 4438,
 'machine': 480,
 'way': 6708,
 'too': 10530,
 'sticky.': 81,
 'Leaving': 11,
 'msg': 19,
 'fine.': 946,
 'divide': 60,
 'half,': 411,
 'knead': 90,
 'floured': 83,
 'surface': 69,
 'few': 4897,
 'times,': 290,
 'stretch': 74,
 'cirle.': 1,
 'like': 20171,
 'bake': 1806,
 'cast-iron': 19,
 'skillet-': 1,
 'brush': 161,
 'pan': 3626,
 'olive': 2058,
 'oil': 3790,
 'sprinkle': 635,
 'corn': 2175,
 'meal.': 1607,
 'crust': 1662,
 '7': 705,
 '10-15': 75,
 'lowest': 28,
 'rack': 265,
 'oven.': 1053,
 'saw': 745,
 'Giada': 8,
 'Today': 106,
 'show': 174,
 'last': 4502,
 'month': 270,
 'wanted': 2687,
 'compare': 104,
 'family': 7201,
 'being': 1855,
 'Marsala': 25,
 'dry': 2150,
 'red,': 78,
 'chicken/turkey': 3,
 'sausage,': 225,
 'cutting': 557,
 'sausages': 113,
 'finishing': 127,
 'cooking': 4203,
 'stove': 565,
 'My': 14347,
 'traditionally': 25,
 'serves': 152,
 'sausage': 1116,
 'peppers': 1410,
 'polenta...this': 1,
 'compared': 122,
 'well': 5166,
 'probably': 2651,
 'calories': 377,
 'heats': 11,
 'kitchen': 520,
 'summertime!': 2,
 'meatloaf,': 47,
 'took': 3830,
 'reviewers': 587,
 'suggestion': 524,
 'another': 4777,
 'crock': 1034,
 'pot': 1977,
 'meatloaf': 395,
 '(#99616)': 1,
 'it,': 3813,
 'sauce,': 1640,
 'meatloaf.': 109,
 'sweet': 4938,
 'tangy': 290,
 'wonder': 263,
 'addition.': 273,
 'again.': 7348,
 'deliciously': 87,
 'simple.': 292,
 'can': 9513,
 'literally': 148,
 'thrown': 103,
 'soups': 203,
 'i': 7770,
 'ever': 3856,
 'had.': 886,
 'uncomplicated': 6,
 'taste.': 2042,
 ',': 715,
 'from': 12802,
 'appealed': 20,
 'me': 7274,
 'simplicity': 162,
 'quick': 4068,
 'could': 6285,
 'made.': 705,
 'both': 2697,
 'flavor.': 3912,
 'anything': 1423,
 'see': 2244,
 'can;': 1,
 'more': 16840,
 'substance': 14,
 'nothing': 718,
 '(thankfully)': 3,
 'rustic': 43,
 'roasted': 1256,
 'balance': 423,
 'other': 7016,
 'ingredients.': 1084,
 'paul': 2,
 'newman': 1,
 'marinara': 109,
 '1/3': 778,
 'cup': 7164,
 'let': 2910,
 'simmer': 398,
 'out.': 1223,
 'would': 16597,
 'definitly': 60,
 'much': 12363,
 'plus': 779,
 'tea!': 45,
 'aroma': 300,
 'tea': 535,
 'steeping': 10,
 'five': 663,
 'minutes,': 843,
 'wonderful!': 1109,
 'large': 2093,
 'glass': 571,
 'ice': 1500,
 'enjoyed!': 69,
 'Good': 1325,
 'marinade.': 218,
 'Jack': 169,
 'Daniels': 23,
 'exactly': 3583,
 'except': 2033,
 "didn't": 14046,
 'marinate': 353,
 'quite': 3819,
 'long.': 221,
 'hours.': 867,
 'grilled': 1248,
 'counter': 137,
 'grill': 812,
 'everyone': 2528,
 'enjoyed': 6746,
 'Even': 1366,
 'DH,': 122,
 'who': 3066,
 "doesn't": 1810,
 'beef': 2513,
 'dressed': 64,
 'up,': 513,
 'said': 3122,
 'Almost': 108,
 'teriyaki': 96,
 'baked': 4137,
 'potato': 1754,
 'asparagus.': 143,
 'posting.': 2221,
 'Fantastic': 361,
 'earning': 2,
 'raves': 111,
 'table.': 201,
 'Thanks,': 1331,
 'homegirl!': 5,
 'comforting.': 50,
 'low-sodium,': 1,
 'low-fat': 296,
 'chicken': 11332,
 'stock.': 166,
 'butter.': 945,
 'dried': 2248,
 'parsley.': 200,
 'do': 6861,
 'than': 10333,
 'an': 10553,
 'hour,': 174,
 'Me': 65,
 'course.': 92,
 'Breezermom': 3,
 'Market': 162,
 'game': 469,
 'Easy': 1911,
 'good.': 7001,
 'Will': 3432,
 'again': 7921,
 'kids': 3123,
 'weekend,': 54,
 'your': 6415,
 'cookies': 1935,
 'already': 1564,
 '(your': 4,
 'Triple': 17,
 'Chocolates).': 1,
 "We're": 115,
 'addicted': 63,
 'jam': 430,
 '--': 1634,
 "it's": 4846,
 'tend': 205,
 'vinegar-phobic': 1,
 'half;': 9,
 'adore': 101,
 'black': 1609,
 'pepper,': 929,
 'increase': 507,
 'half.': 567,
 'Also,': 1561,
 'once': 1547,
 'strawberries': 539,
 'cook': 4212,
 'down,': 140,
 'masher': 37,
 'break': 188,
 'them': 19689,
 'consistency.': 287,
 'pepper': 4401,
 'kick': 525,
 'fun,': 59,
 'English': 151,
 'muffins,': 161,
 'peanut': 1356,
 'butter': 5572,
 '&': 9664,
 'jelly': 298,
 'sandwiches': 473,
 '(made': 53,
 'wheat': 1778,
 'bread.)': 3,
 'wish': 831,
 'canning': 142,
 'store': 1248,
 'shelf': 48,
 'it!': 4313,
 'started': 876,
 'yesterday': 436,
 'keep': 2162,
 'up.': 1429,
 'back': 3474,
 'coffee': 976,
 'figured': 251,
 'might': 2834,
 'along': 1572,
 'benefits.': 12,
 'OK,': 118,
 'NEVER': 136,
 'buy': 1174,
 'jarred': 130,
 'terrific!': 129,
 'early': 259,
 'day,': 352,
 'later!': 31,
 'pizza,': 66,
 'freezer.': 284,
 'cant': 183,
 'wait.': 63,
 'hint': 419,
 'spice': 1363,
 'red': 4424,
 'omitted': 1607,
 'flakes': 754,
 'small': 3035,
 'delicious.': 3734,
 'again,': 2053,
 'tenderness': 27,
 'rub': 356,
 'right.': 542,
 'cold,': 101,
 'yogurt': 961,
 'whipped': 834,
 'in,': 275,
 'or': 12020,
 'top.': 1375,
 'cumin,': 184,
 'curry,': 57,
 'cinnamon': 2082,
 'try': 8937,
 'Chinese': 203,
 '5.': 153,
 "can't": 3022,
 'resist': 98,
 'splash': 304,
 'too!': 1288,
 '"bake"': 5,
 'squash': 549,
 'microwave': 830,
 '8': 1712,
 'minute': 545,
 'blasts': 1,
 'peel': 343,
 'when': 9491,
 'cool,': 89,
 'freeze': 792,
 'flesh.': 7,
 'Carrots': 32,
 'eaten': 749,
 'right': 3563,
 'highly': 529,
 'recommend': 1542,
 'these': 14418,
 'delicious,': 1064,
 'yet': 1087,
 'treats!': 27,
 'plastic': 293,
 'popsicle': 9,
 'molds': 10,
 'store.': 239,
 'halved': 1284,
 '16': 340,
 'popsicles.': 5,
 'They': 5927,
 'adults': 195,
 'gone': 759,
 'crazy': 379,
 'eating': 2032,
 'And': 2587,
 'since': 4612,
 "they're": 440,
 'them!': 817,
 'Barb': 33,
 'become': 734,
 'favorite!': 215,
 'good,': 3031,
 'modifications': 131,
 '(and': 1001,
 'laziness).': 1,
 'semi': 81,
 'breasts,': 185,
 'browned': 670,
 'them,': 1125,
 'stock': 853,
 'rest': 1884,
 'through': 1258,
 'simmer.': 28,
 'omit': 595,
 'avoid': 195,
 'sugary-ness': 1,
 'commented': 144,
 'PERFECT.': 35,
 'As': 1547,
 'couscous': 179,
 'anything,': 94,
 'cold': 1240,
 'broth': 1953,
 'soak': 317,
 'wait': 2103,
 'breasts': 981,
 'cook.': 325,
 'margarine': 312,
 'garlic-buttery': 1,
 'certainly': 920,
 'disappoint).': 1,
 '#289161.': 1,
 'Miraklegirl!': 4,
 'fantastic!': 779,
 'soft': 1275,
 'chewy': 397,
 'loveddd': 1,
 'friends.': 197,
 'chopped': 3127,
 'mars': 2,
 'bar': 219,
 'chocolate': 4609,
 'chips': 1692,
 'worked': 3075,
 'charm': 25,
 'definitely': 6267,
 'THANKS': 93,
 'Christmas': 1344,
 'party!': 71,
 'Thank': 9735,
 'treat!': 343,
 'dressing': 2160,
 'lot.': 369,
 'sesame': 650,
 'seeds': 805,
 'lamb': 384,
 'marinaded': 64,
 'spices.': 376,
 'posting': 4351,
 'simply': 738,
 'WONDERFUL!': 102,
 'any': 6231,
 'salt,': 1020,
 'substitution': 119,
 "necessity..didn't": 1,
 'hash': 168,
 'browns,': 19,
 'potatoes.': 996,
 'About': 72,
 'half': 7891,
 'peeked': 5,
 'browning': 302,
 'bottom': 1067,
 'potatoes': 3793,
 "weren't": 511,
 'cooking.': 721,
 'needed': 2633,
 'water.': 897,
 'DUH!': 1,
 'remember': 574,
 'how': 5263,
 'added,': 81,
 "I'll": 5414,
 'redo': 7,
 'browns': 104,
 'die': 409,
 'for....': 2,
 'truly!': 1,
 'good..': 25,
 'it..': 61,
 'give': 3294,
 '3.5': 93,
 'stars.': 688,
 'okay': 242,
 'again.<br/><br/>I': 2,
 'drumsticks': 59,
 'wings': 425,
 'grocery': 438,
 'low': 2407,
 'sodium': 453,
 'soy': 1154,
 'sauce.': 3014,
 'forget': 241,
 'marinade': 1074,
 'chicken.': 1191,
 'know': 3493,
 'affected': 64,
 'thicker.': 86,
 'barbecue': 199,
 'move': 69,
 'fluid.': 6,
 'thicken': 702,
 'starch': 190,
 'flour.': 770,
 'stated': 531,
 ':-)': 651,
 'breakfast!': 170,
 'mom': 793,
 'Northern': 39,
 'Ireland': 14,
 'introduced': 38,
 'Marmite': 9,
 'age': 38,
 'rye': 150,
 'marmite': 8,
 'dip': 1014,
 'eggs.': 408,
 'you!': 1483,
 "Paula's": 14,
 'Peach': 20,
 'Dump': 9,
 'Cake': 198,
 '#125391': 1,
 '(only': 110,
 '4)': 28,
 'forward': 785,
 'her': 1377,
 'call': 572,
 'future.': 285,
 'hand': 1526,
 'dessert': 1009,
 "'fix'": 2,
 'table': 454,
 'short': 442,
 'notice.': 16,
 'Wow!': 684,
 'What': 2588,
 'amazing': 894,
 'stuff!': 202,
 'Hokey': 4,
 'Pokey': 5,
 'ice-cream,': 6,
 'this.\nI': 3,
 'shocked': 59,
 'complete': 234,
 'colour': 105,
 'after': 5685,
 'stirring': 211,
 'baking': 3090,
 'soda': 304,
 'through.': 295,
 'quick.\nI': 1,
 'burned': 183,
 'ours': 252,
 'difficult': 371,
 'spread': 1079,
 'flat': 296,
 'pan,': 648,
 'first': 6060,
 'go.\nNext': 1,
 "what's": 98,
 'come!': 37,
 'manual': 7,
 'method': 625,
 'directions': 1514,
 'follow': 830,
 'produced': 149,
 'results.': 577,
 'light': 2557,
 "za'atar": 11,
 'topping.': 466,
 'keeper!': 1322,
 'Best': 634,
 '2011': 181,
 'event,': 33,
 'recommended': 325,
 'awalde': 7,
 'sorry.': 81,
 "wasn't": 2828,
 'stretch.': 6,
 'There': 1134,
 'something': 3789,
 'missing': 501,
 'turn': 1174,
 'amazing.': 614,
 'turmeric': 68,
 'strange': 126,
 'color': 571,
 'unappealing.': 7,
 'smelled': 705,
 'carne': 7,
 'asada': 5,
 'maybe': 2146,
 'expecting.': 53,
 'cooked': 6317,
 'delightful': 259,
 'while': 3129,
 'grilling': 225,
 'meet': 53,
 'expectations': 42,
 'served.': 66,
 'watching': 228,
 'think': 10740,
 'tweak': 194,
 'sure': 5334,
 'is.': 636,
 'Did': 453,
 'Bergy!!': 10,
 'microwaved': 176,
 'spuds,': 5,
 'onions,': 735,
 'later': 496,
 'night.': 694,
 'onion': 3951,
 'each': 2204,
 'their': 1558,
 'flavours': 430,
 'come': 1545,
 'distinctly.\r\nGood': 1,
 'veggie': 655,
 'dish.': 2670,
 'Lovely!': 31,
 'beautiful': 760,
 'Thanksgiving': 638,
 'morning.': 386,
 'With': 666,
 'link': 42,
 'sliced': 2056,
 'fruit': 1048,
 'enjoy': 1321,
 'visiting': 112,
 'grands': 5,
 'breakfast.': 477,
 'Kittencal.': 81,
 'teach': 25,
 'high': 1257,
 'school': 333,
 'foods': 180,
 'class': 97,
 'studying': 8,
 'legumes.': 2,
 'topping': 1361,
 'sour': 2563,
 'cream,': 790,
 'cheese,': 1367,
 'Tobasco': 19,
 'tortilla': 507,
 'chips.': 630,
 'While': 418,
 'making,': 33,
 'students': 37,
 'look': 1527,
 'Not': 1846,
 'single': 364,
 'student': 38,
 '25': 458,
 'disliked': 19,
 'students.': 8,
 'starting': 247,
 'hour': 1180,
 'period': 41,
 'reheating': 45,
 'day.': 1214,
 'Many': 181,
 'requested': 363,
 'second': 1653,
 'copy': 147,
 'take': 2301,
 'home!': 96,
 'Great': 5595,
 'job!': 33,
 'definately': 1072,
 'lemon': 3806,
 'zest': 575,
 'devine': 17,
 'reheat': 135,
 'oven': 3332,
 ...}

In [16]:
#too long
#%lprun -f get_word_reviews_count get_word_reviews_count(reviews)

In [17]:
def get_word_reviews_count_imporved(reviews):
	# review_c = reviews.review.replace(r'[^\w\s]', '', regex=True).replace(r'\s+', ' ', regex=True)
	kek = pd.DataFrame(' '.join(recipes_c.tolist()).split())
	return kek.value_counts()

%lprun -f get_word_reviews_count_imporved get_word_reviews_count_imporved(reviews)

NameError: name 'recipes_c' is not defined

In [ ]:
get_word_reviews_count_imporved(reviews)

I                     291242
the                   266577
and                   219275
a                     166485
it                    133651
                       ...
disposablereusable         1
disposing                  1
disposition                1
disppointed                1
ïŠ                         1
Length: 90065, dtype: int64

4. Напишите несколько версий функции `MAPE` (см. [MAPE](https://en.wikipedia.org/wiki/Mean_absolute_percentage_error)) для расчета среднего абсолютного процентного отклонения значения рейтинга отзыва на рецепт от среднего значения рейтинга по всем отзывам для этого рецепта. 
    1. Без использования векторизованных операций и методов массивов `numpy` и без использования `numba`
    2. Без использования векторизованных операций и методов массивов `numpy`, но с использованием `numba`
    3. С использованием векторизованных операций и методов массивов `numpy`, но без использования `numba`
    4. C использованием векторизованных операций и методов массивов `numpy` и `numba`
    
Измерьте время выполнения каждой из реализаций.

Замечание: удалите из выборки отзывы с нулевым рейтингом.

In [ ]:
import numba

non_zero_rev = reviews[reviews.rating > 0][['recipe_id', 'rating']]

def MAPE(raitings):
	ratings = [non_zero_rev[non_zero_rev['recipe_id'] == x]['rating'] for x in test_sample]
	avg_rating = sum(ratings) / len(ratings)
	mape = 0
	for rating in ratings:
		mape += abs((rating - avg_rating) / avg_rating)
	return mape / len(ratings) * 100

@numba.jit(nopython=True)
def MAPE_numba(raitings):
	avg_rating = sum(ratings) / len(ratings)
	mape = 0
	for rating in ratings:
		mape += abs((rating - avg_rating) / avg_rating)
	return mape / len(ratings) * 100

def MAPE_np(raitings):
	avg_rating = np.mean(ratings)
	mape = np.mean(np.abs((ratings - avg_rating) / avg_rating)) * 100
	return mape

@numba.jit(nopython=True)
def MAPE_np_numba(raitings):
	avg_rating = np.mean(ratings)
	mape = np.mean(np.abs((ratings - avg_rating) / avg_rating)) * 100
	return mape

In [ ]:

def MAPE_np(raitings):
	avg_rating = np.mean(ratings)
	mape = np.mean(np.abs((ratings - avg_rating) / avg_rating)) * 100
	return mape

In [ ]:
test_sample = non_zero_rev[:100].recipe_id
test_sample
# MAPE_numba

# ratings_np = [non_zero_rev[non_zero_rev['recipe_id'] == x]['rating'].to_numpy() for x in test_sample]
# ratings = [non_zero_rev[non_zero_rev['recipe_id'] == x]['rating'] for x in test_sample]

# results = pd.DataFrame([[MAPE(c) for c in ratings],
# 						[MAPE_np(c) for c in ratings_np],
# 						[MAPE_np_numba(c) for c in ratings_np],
# 						], columns =['MAPE', 'MAPE_np', 'MAPE_np_numba'])

def mape(y_test, pred):
  # Initializing the sum of errors
  error_sum = 0
  # Looping through the actual and predicted values
  for i in range(len(y_test)):
    # Calculating the absolute percentage error for each pair
    error = abs((y_test[i] - pred[i]) / y_test[i])
    # Adding the error to the sum
    error_sum += error
  # Calculating the mean of the errors
  mape = error_sum / len(y_test)
  return mape


# Calculating the average rating for each recipe
df = non_zero_rev.copy()
avg_rating = df.groupby("recipe_id")["rating"].mean()

# Merging the average rating with the original dataframe
df = df.merge(avg_rating, on="recipe_id", suffixes=("", "_avg"))

# Calling the MAPE function with numpy and numba
mape_score = mape(df["rating"], df["rating_avg"])


# df['mape'] = mape(df["rating"], df["rating_avg"])

#sum
rating_sums = df.groupby("recipe_id")["rating"].sum()

#lens
rating_counts = df.groupby("recipe_id")["rating"].count()

display(rating_sums)
display(rating_counts)

recipe_id
48         2
55        19
66        89
91        19
94        20
          ..
536360     5
536473     5
536547     5
536728     4
536729    19
Name: rating, Length: 27440, dtype: int64

recipe_id
48         1
55         4
66        18
91         4
94         4
          ..
536360     1
536473     1
536547     1
536728     1
536729     4
Name: rating, Length: 27440, dtype: int64

        recipe_id  rating  rating_avg
0           57993       5    4.818182
1           57993       5    4.818182
2           57993       5    4.818182
3           57993       5    4.818182
4           57993       5    4.818182
...           ...     ...         ...
119886      94096       5    5.000000
119887     368208       2    2.000000
119888     154964       5    5.000000
119889     187418       5    5.000000
119890     296868       4    4.000000

[119891 rows x 3 columns]

In [ ]:
dat = [list(x) for x in df.groupby("recipe_id")["rating"]]
dat

[[48,
  119214    2
  Name: rating, dtype: int64],
 [55,
  40087    5
  40088    5
  40089    4
  40090    5
  Name: rating, dtype: int64],
 [66,
  49524    5
  49525    5
  49526    5
  49527    5
  49528    4
  49529    5
  49530    5
  49531    5
  49532    5
  49533    5
  49534    5
  49535    5
  49536    5
  49537    5
  49538    5
  49539    5
  49540    5
  49541    5
  Name: rating, dtype: int64],
 [91,
  51606    5
  51607    5
  51608    4
  51609    5
  Name: rating, dtype: int64],
 [94,
  88098    5
  88099    5
  88100    5
  88101    5
  Name: rating, dtype: int64],
 [128,
  32301    5
  32302    5
  Name: rating, dtype: int64],
 [153,
  20445    5
  20446    5
  20447    5
  20448    4
  20449    5
  20450    5
  20451    5
  20452    5
  20453    5
  20454    5
  20455    4
  20456    5
  20457    5
  20458    5
  20459    5
  20460    5
  20461    5
  20462    5
  20463    5
  20464    5
  20465    5
  20466    5
  20467    5
  20468    5
  20469    5
  20470    5
  20471    5
  20472    5
  20473    5
  20474    5
  20475    5
  Name: rating, dtype: int64],
 [176,
  114895    5
  Name: rating, dtype: int64],
 [181,
  64790    4
  64791    1
  64792    3
  Name: rating, dtype: int64],
 [186,
  28940    5
  28941    4
  28942    5
  28943    5
  28944    5
  28945    4
  28946    5
  28947    5
  28948    5
  Name: rating, dtype: int64],
 [203,
  90609    1
  90610    5
  90611    4
  90612    5
  90613    5
  90614    5
  90615    5
  90616    4
  90617    5
  90618    5
  90619    5
  90620    4
  90621    4
  Name: rating, dtype: int64],
 [224,
  90755    5
  90756    5
  90757    5
  Name: rating, dtype: int64],
 [240,
  66899    5
  66900    4
  66901    5
  66902    4
  66903    5
  66904    4
  Name: rating, dtype: int64],
 [246,
  36783    4
  36784    5
  36785    4
  36786    4
  36787    5
  36788    5
  36789    5
  36790    5
  36791    5
  36792    5
  36793    5
  36794    1
  36795    5
  36796    2
  36797    5
  36798    5
  36799    5
  36800    4
  36801    5
  36802    5
  36803    5
  36804    5
  36805    5
  36806    5
  36807    5
  36808    5
  36809    5
  36810    5
  36811    5
  36812    5
  36813    5
  36814    5
  36815    5
  36816    4
  36817    4
  36818    5
  36819    5
  36820    5
  36821    5
  36822    4
  36823    5
  36824    5
  36825    5
  36826    4
  36827    5
  36828    5
  36829    2
  36830    5
  36831    5
  36832    5
  36833    5
  36834    3
  36835    5
  36836    5
  Name: rating, dtype: int64],
 [282,
  104775    5
  104776    5
  Name: rating, dtype: int64],
 [284,
  118623    5
  Name: rating, dtype: int64],
 [288,
  14826    5
  14827    3
  Name: rating, dtype: int64],
 [289,
  84181    5
  Name: rating, dtype: int64],
 [314,
  76921    5
  76922    5
  76923    5
  76924    4
  76925    5
  76926    5
  76927    5
  76928    5
  76929    4
  76930    5
  76931    5
  Name: rating, dtype: int64],
 [318,
  91427    5
  91428    5
  91429    4
  91430    5
  Name: rating, dtype: int64],
 [321,
  66319    5
  Name: rating, dtype: int64],
 [337,
  119006    2
  Name: rating, dtype: int64],
 [344,
  97039    2
  Name: rating, dtype: int64],
 [352,
  108970    5
  108971    5
  108972    5
  Name: rating, dtype: int64],
 [360,
  79745    5
  Name: rating, dtype: int64],
 [373,
  117062    5
  Name: rating, dtype: int64],
 [378,
  39345    5
  39346    5
  39347    5
  39348    5
  39349    4
  39350    5
  39351    5
  39352    5
  39353    5
  39354    5
  39355    5
  39356    5
  39357    5
  39358    5
  39359    5
  Name: rating, dtype: int64],
 [379,
  95731    5
  95732    5
  95733    4
  95734    4
  95735    5
  95736    5
  Name: rating, dtype: int64],
 [381,
  38102    5
  38103    5
  38104    5
  38105    5
  38106    5
  Name: rating, dtype: int64],
 [383,
  113754    4
  Name: rating, dtype: int64],
 [385,
  69605    3
  Name: rating, dtype: int64],
 [387,
  97312    5
  97313    5
  Name: rating, dtype: int64],
 [401,
  115193    3
  Name: rating, dtype: int64],
 [445,
  67985    2
  67986    3
  67987    5
  67988    5
  67989    5
  67990    5
  67991    5
  67992    5
  67993    5
  67994    5
  67995    5
  67996    4
  67997    5
  67998    5
  67999    4
  68000    5
  68001    5
  68002    4
  68003    5
  68004    4
  68005    5
  68006    5
  68007    5
  68008    5
  68009    5
  Name: rating, dtype: int64],
 [465,
  81172    5
  Name: rating, dtype: int64],
 [469,
  52956    5
  52957    4
  52958    5
  52959    5
  Name: rating, dtype: int64],
 [502,
  46788    5
  46789    5
  46790    5
  46791    5
  46792    5
  Name: rating, dtype: int64],
 [504,
  68014    5
  Name: rating, dtype: int64],
 [544,
  79294    4
  79295    4
  79296    4
  79297    4
  79298    5
  79299    5
  79300    5
  Name: rating, dtype: int64],
 [546,
  90646    5
  90647    5
  90648    4
  Name: rating, dtype: int64],
 [561,
  81409    5
  81410    5
  81411    5
  81412    4
  81413    5
  81414    5
  Name: rating, dtype: int64],
 [587,
  62869    4
  Name: rating, dtype: int64],
 [635,
  73348    5
  73349    5
  73350    5
  Name: rating, dtype: int64],
 [651,
  103050    4
  103051    5
  Name: rating, dtype: int64],
 [653,
  115552    5
  Name: rating, dtype: int64],
 [658,
  114996    4
  Name: rating, dtype: int64],
 [659,
  104759    5
  104760    5
  104761    5
  104762    3
  Name: rating, dtype: int64],
 [671,
  75745    4
  75746    3
  75747    4
  75748    4
  75749    4
  75750    5
  75751    4
  75752    5
  75753    4
  Name: rating, dtype: int64],
 [692,
  36601    4
  Name: rating, dtype: int64],
 [712,
  106694    4
  Name: rating, dtype: int64],
 [719,
  85317    4
  85318    4
  85319    5
  85320    4
  85321    5
  85322    5
  85323    5
  85324    2
  85325    4
  85326    5
  85327    5
  85328    5
  85329    3
  Name: rating, dtype: int64],
 [779,
  102256    5
  102257    5
  Name: rating, dtype: int64],
 [884,
  119284    4
  Name: rating, dtype: int64],
 [916,
  37301    5
  37302    4
  37303    5
  37304    5
  37305    5
          ..
  37383    5
  37384    5
  37385    5
  37386    5
  37387    5
  Name: rating, Length: 87, dtype: int64],
 [953,
  59390    3
  59391    3
  Name: rating, dtype: int64],
 [965,
  62303    5
  62304    5
  62305    4
  62306    5
  62307    5
  62308    4
  62309    5
  Name: rating, dtype: int64],
 [975,
  54435    5
  54436    5
  54437    5
  Name: rating, dtype: int64],
 [1075,
  81980    2
  Name: rating, dtype: int64],
 [1129,
  68566    4
  68567    5
  68568    4
  Name: rating, dtype: int64],
 [1155,
  100636    5
  Name: rating, dtype: int64],
 [1183,
  29352    5
  29353    5
  29354    4
  29355    5
  Name: rating, dtype: int64],
 [1322,
  81045    1
  81046    5
  81047    5
  81048    4
  81049    5
  81050    5
  81051    5
  81052    2
  81053    5
  Name: rating, dtype: int64],
 [1355,
  92512    5
  92513    5
  92514    5
  Name: rating, dtype: int64],
 [1379,
  97206    5
  Name: rating, dtype: int64],
 [1442,
  24655    5
  24656    5
  Name: rating, dtype: int64],
 [1557,
  76129    5
  76130    5
  76131    5
  76132    5
  76133    5
  76134    5
  76135    5
  Name: rating, dtype: int64],
 [1590,
  101819    5
  101820    5
  Name: rating, dtype: int64],
 [1595,
  117284    4
  117285    4
  117286    4
  Name: rating, dtype: int64],
 [1630,
  109045    3
  109046    4
  109047    4
  109048    4
  Name: rating, dtype: int64],
 [1660,
  58616    5
  58617    4
  58618    5
  Name: rating, dtype: int64],
 [1662,
  107204    3
  Name: rating, dtype: int64],
 [1696,
  115491    5
  Name: rating, dtype: int64],
 [1725,
  90049    5
  90050    4
  Name: rating, dtype: int64],
 [1760,
  118256    3
  Name: rating, dtype: int64],
 [1878,
  119605    3
  Name: rating, dtype: int64],
 [1902,
  100866    4
  100867    4
  100868    5
  100869    4
  100870    5
  Name: rating, dtype: int64],
 [1975,
  107731    5
  Name: rating, dtype: int64],
 [2056,
  55810    5
  55811    4
  55812    5
  55813    5
  55814    5
  55815    5
  55816    5
  55817    5
  55818    5
  55819    4
  55820    3
  55821    5
  55822    5
  55823    5
  55824    5
  55825    5
  55826    5
  55827    5
  55828    5
  55829    5
  55830    5
  55831    3
  55832    5
  55833    5
  55834    5
  55835    5
  55836    5
  55837    3
  55838    5
  55839    5
  55840    5
  Name: rating, dtype: int64],
 [2068,
  41819    5
  Name: rating, dtype: int64],
 [2086,
  45342    5
  45343    4
  45344    5
  45345    5
  45346    4
  45347    5
  45348    5
  45349    5
  45350    1
  45351    5
  45352    5
  45353    5
  45354    1
  45355    3
  Name: rating, dtype: int64],
 [2129,
  86341    5
  86342    5
  86343    4
  86344    5
  86345    5
  Name: rating, dtype: int64],
 [2279,
  115166    4
  Name: rating, dtype: int64],
 [2329,
  86095    4
  86096    4
  Name: rating, dtype: int64],
 [2386,
  119719    4
  Name: rating, dtype: int64],
 [2405,
  72315    2
  72316    5
  Name: rating, dtype: int64],
 [2519,
  89864    4
  89865    5
  89866    1
  89867    5
  89868    5
  89869    4
  89870    3
  89871    3
  Name: rating, dtype: int64],
 [2560,
  109406    5
  109407    4
  109408    4
  Name: rating, dtype: int64],
 [2595,
  104222    4
  Name: rating, dtype: int64],
 [2622,
  113407    3
  113408    1
  Name: rating, dtype: int64],
 [2633,
  87750    5
  87751    5
  Name: rating, dtype: int64],
 [2641,
  61373    5
  61374    4
  61375    5
  61376    5
  61377    5
  61378    5
  61379    5
  61380    5
  Name: rating, dtype: int64],
 [2645,
  117064    4
  Name: rating, dtype: int64],
 [2658,
  33760    4
  33761    5
  33762    5
  33763    3
  33764    5
  33765    5
  33766    4
  33767    5
  Name: rating, dtype: int64],
 [2665,
  90834    5
  90835    5
  Name: rating, dtype: int64],
 [2704,
  112151    5
  Name: rating, dtype: int64],
 [2724,
  59565    5
  Name: rating, dtype: int64],
 [2746,
  65614    4
  65615    5
  65616    5
  65617    4
  Name: rating, dtype: int64],
 [2762,
  86076    5
  86077    5
  86078    5
  86079    5
  Name: rating, dtype: int64],
 [2771,
  105938    5
  Name: rating, dtype: int64],
 [2803,
  73453    5
  73454    5
  Name: rating, dtype: int64],
 [2804,
  54539    5
  Name: rating, dtype: int64],
 [2814,
  46346    5
  46347    4
  46348    5
  46349    4
  46350    4
  46351    5
  46352    5
  46353    5
  46354    5
  46355    5
  46356    5
  46357    4
  46358    5
  46359    4
  46360    5
  Name: rating, dtype: int64],
 [2866,
  112334    5
  Name: rating, dtype: int64],
 [2883,
  83596    4
  83597    5
  Name: rating, dtype: int64],
 [2889,
  97605    5
  97606    3
  Name: rating, dtype: int64],
 [2891,
  87158    5
  87159    5
  87160    5
  87161    5
  87162    5
  87163    4
  87164    5
  Name: rating, dtype: int64],
 [2902,
  96261    4
  96262    5
  96263    5
  96264    5
  Name: rating, dtype: int64],
 [2936,
  89048    5
  89049    5
  Name: rating, dtype: int64],
 [2940,
  41571    5
  41572    5
  41573    5
  41574    5
  41575    5
  41576    5
  41577    5
  41578    5
  41579    5
  41580    5
  Name: rating, dtype: int64],
 [2963,
  106499    3
  Name: rating, dtype: int64],
 [2974,
  118055    4
  Name: rating, dtype: int64],
 [2982,
  40557    5
  40558    5
  40559    4
  40560    5
  Name: rating, dtype: int64],
 [2989,
  100752    5
  Name: rating, dtype: int64],
 [3015,
  103246    5
  103247    5
  Name: rating, dtype: int64],
 [3032,
  84142    3
  84143    5
  84144    4
  Name: rating, dtype: int64],
 [3045,
  85818    5
  85819    5
  Name: rating, dtype: int64],
 [3051,
  9135    5
  9136    5
  9137    5
  9138    5
  9139    5
  9140    5
  9141    5
  9142    5
  9143    3
  9144    2
  9145    1
  9146    5
  Name: rating, dtype: int64],
 [3065,
  83197    4
  83198    5
  83199    5
  83200    4
  83201    5
  83202    5
  83203    4
  Name: rating, dtype: int64],
 [3090,
  102437    3
  102438    4
  102439    4
  Name: rating, dtype: int64],
 [3097,
  90219    5
  Name: rating, dtype: int64],
 [3119,
  41337    5
  Name: rating, dtype: int64],
 [3158,
  87057    5
  87058    5
  87059    5
  87060    5
  87061    5
  87062    5
  87063    5
  87064    5
  87065    3
  87066    5
  87067    5
  Name: rating, dtype: int64],
 [3189,
  96054    5
  96055    5
  Name: rating, dtype: int64],
 [3212,
  106606    5
  106607    5
  Name: rating, dtype: int64],
 [3224,
  114559    4
  Name: rating, dtype: int64],
 [3232,
  26588    4
  Name: rating, dtype: int64],
 [3247,
  102098    5
  102099    5
  Name: rating, dtype: int64],
 [3252,
  61693    5
  61694    5
  61695    4
  61696    1
  Name: rating, dtype: int64],
 [3258,
  72953    5
  72954    5
  72955    5
  72956    5
  72957    3
  72958    4
  72959    5
  72960    4
  Name: rating, dtype: int64],
 [3271,
  116456    5
  Name: rating, dtype: int64],
 [3304,
  116066    5
  Name: rating, dtype: int64],
 [3328,
  104496    5
  104497    5
  104498    4
  104499    5
  104500    5
  104501    5
  Name: rating, dtype: int64],
 [3335,
  93352    5
  93353    5
  Name: rating, dtype: int64],
 [3343,
  102530    5
  102531    5
  102532    5
  Name: rating, dtype: int64],
 [3401,
  113226    5
  113227    5
  Name: rating, dtype: int64],
 [3418,
  85749    5
  Name: rating, dtype: int64],
 [3439,
  19099    5
  19100    5
  19101    5
  19102    5
  19103    5
  19104    5
  19105    4
  19106    5
  19107    5
  19108    5
  19109    4
  19110    5
  19111    4
  19112    5
  19113    4
  19114    5
  19115    4
  19116    4
  19117    5
  19118    4
  19119    5
  19120    5
  19121    5
  19122    4
  19123    4
  19124    4
  19125    4
  19126    5
  19127    5
  Name: rating, dtype: int64],
 [3441,
  43831    5
  43832    5
  43833    5
  43834    5
  43835    5
  43836    5
  43837    4
  43838    4
  43839    5
  43840    4
  43841    5
  43842    4
  43843    5
  43844    5
  43845    5
  43846    5
  43847    4
  43848    5
  43849    5
  43850    5
  43851    4
  43852    5
  43853    4
  43854    5
  43855    5
  43856    5
  43857    5
  43858    5
  43859    5
  43860    4
  43861    5
  Name: rating, dtype: int64],
 [3446,
  87365    5
  87366    5
  87367    5
  87368    5
  87369    5
  87370    5
  87371    5
  Name: rating, dtype: int64],
 [3497,
  91800    5
  91801    5
  91802    5
  91803    5
  91804    5
  91805    4
  Name: rating, dtype: int64],
 [3520,
  37033    5
  37034    4
  37035    5
  37036    5
  37037    5
  37038    4
  37039    4
  37040    5
  37041    5
  37042    5
  37043    5
  37044    5
  37045    5
  37046    5
  37047    5
  Name: rating, dtype: int64],
 [3549,
  29179    5
  29180    5
  29181    5
  Name: rating, dtype: int64],
 [3581,
  105361    5
  105362    5
  105363    5
  105364    5
  Name: rating, dtype: int64],
 [3594,
  61708    4
  61709    5
  61710    5
  61711    5
  61712    4
  61713    5
  61714    5
  61715    4
  61716    5
  61717    5
  61718    5
  61719    5
  61720    5
  61721    5
  61722    4
  61723    2
  61724    4
  Name: rating, dtype: int64],
 [3599,
  19925    5
  19926    4
  19927    5
  19928    3
  19929    3
  19930    5
  19931    1
  19932    5
  19933    4
  19934    5
  Name: rating, dtype: int64],
 [3616,
  94703    4
  94704    5
  94705    5
  94706    5
  94707    5
  94708    4
  94709    5
  94710    4
  94711    4
  Name: rating, dtype: int64],
 [3620,
  99175    2
  Name: rating, dtype: int64],
 [3626,
  60564    5
  60565    5
  60566    5
  60567    5
  Name: rating, dtype: int64],
 [3653,
  19921    4
  19922    4
  19923    4
  19924    5
  Name: rating, dtype: int64],
 [3657,
  76012    4
  76013    5
  Name: rating, dtype: int64],
 [3662,
  79825    5
  79826    4
  79827    4
  Name: rating, dtype: int64],
 [3675,
  100919    5
  Name: rating, dtype: int64],
 [3702,
  91375    5
  Name: rating, dtype: int64],
 [3717,
  101800    4
  Name: rating, dtype: int64],
 [3730,
  22712    4
  22713    5
  22714    5
  22715    5
  22716    5
  22717    5
  22718    5
  22719    5
  22720    5
  22721    5
  22722    4
  22723    5
  22724    4
  22725    5
  Name: rating, dtype: int64],
 [3731,
  65393    5
  65394    5
  65395    5
  65396    5
  65397    4
  Name: rating, dtype: int64],
 [3752,
  63116    5
  63117    3
  63118    4
  Name: rating, dtype: int64],
 [3755,
  42109    4
  42110    4
  42111    5
  Name: rating, dtype: int64],
 [3776,
  111330    5
  Name: rating, dtype: int64],
 [3780,
  89436    5
  89437    5
  89438    2
  89439    5
  Name: rating, dtype: int64],
 [3803,
  92964    5
  92965    5
  Name: rating, dtype: int64],
 [3806,
  69585    4
  69586    5
  69587    5
  69588    5
  69589    5
  69590    5
  69591    5
  69592    5
  69593    4
  69594    5
  69595    5
  Name: rating, dtype: int64],
 [3841,
  85976    5
  85977    5
  85978    5
  85979    5
  Name: rating, dtype: int64],
 [3870,
  90290    5
  Name: rating, dtype: int64],
 [3929,
  36981    5
  36982    3
  36983    5
  36984    5
  36985    4
  36986    5
  36987    5
  36988    4
  36989    4
  36990    5
  36991    3
  36992    3
  36993    4
  36994    1
  36995    5
  36996    5
  36997    4
  36998    3
  36999    5
  37000    5
  37001    4
  37002    5
  37003    5
  37004    5
  37005    5
  37006    5
  37007    4
  37008    3
  37009    4
  37010    3
  37011    5
  37012    5
  37013    5
  37014    3
  37015    5
  37016    4
  37017    5
  37018    5
  37019    5
  37020    5
  37021    5
  37022    5
  37023    5
  37024    5
  37025    5
  37026    3
  37027    5
  37028    5
  37029    2
  37030    5
  37031    4
  37032    5
  Name: rating, dtype: int64],
 [3941,
  112676    5
  112677    5
  112678    5
  Name: rating, dtype: int64],
 [3979,
  119583    5
  Name: rating, dtype: int64],
 [4035,
  114464    5
  Name: rating, dtype: int64],
 [4037,
  108097    4
  Name: rating, dtype: int64],
 [4052,
  26687    5
  26688    5
  26689    1
  26690    5
  26691    5
  26692    5
  26693    5
  26694    5
  26695    4
  Name: rating, dtype: int64],
 [4093,
  49353    5
  49354    5
  49355    5
  Name: rating, dtype: int64],
 [4127,
  115790    4
  115791    4
  115792    4
  Name: rating, dtype: int64],
 [4135,
  107959    1
  Name: rating, dtype: int64],
 [4146,
  94049    3
  94050    4
  94051    5
  94052    5
  94053    5
  94054    4
  Name: rating, dtype: int64],
 [4150,
  90829    5
  90830    5
  90831    5
  90832    4
  90833    4
  Name: rating, dtype: int64],
 [4151,
  2424    5
  2425    5
  2426    4
  2427    5
  2428    5
  2429    5
  2430    5
  2431    4
  2432    4
  2433    5
  Name: rating, dtype: int64],
 [4152,
  110576    5
  110577    5
  Name: rating, dtype: int64],
 [4161,
  77010    5
  77011    5
  Name: rating, dtype: int64],
 [4174,
  77483    3
  77484    5
  77485    1
  Name: rating, dtype: int64],
 [4205,
  48813    5
  48814    5
  48815    5
  48816    5
  48817    5
  48818    5
  48819    3
  48820    5
  48821    2
  48822    4
  48823    5
  48824    5
  48825    4
  48826    4
  48827    3
  48828    2
  48829    5
  48830    5
  48831    4
  48832    4
  48833    5
  48834    5
  48835    5
  48836    4
  48837    5
  48838    3
  48839    5
  48840    5
  48841    5
  48842    5
  48843    4
  48844    5
  48845    5
  48846    5
  48847    5
  48848    5
  48849    4
  48850    5
  48851    5
  48852    3
  48853    4
  48854    5
  48855    4
  48856    5
  48857    5
  48858    5
  48859    5
  48860    4
  48861    5
  48862    4
  48863    5
  Name: rating, dtype: int64],
 [4206,
  97080    3
  Name: rating, dtype: int64],
 [4215,
  95068    4
  Name: rating, dtype: int64],
 [4235,
  115430    4
  Name: rating, dtype: int64],
 [4256,
  106234    5
  Name: rating, dtype: int64],
 [4279,
  118425    4
  118426    4
  Name: rating, dtype: int64],
 [4380,
  75353    5
  Name: rating, dtype: int64],
 [4400,
  118690    5
  Name: rating, dtype: int64],
 [4413,
  101036    5